* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header .container {
  position: relative;
}
.header__image {
  position: absolute;
  left: 6px;
  top: 100px;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}
.header__box__logo-image {
  padding-left: 247px;
}
.header__box__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-right: 136px;
}
.header__box__list__item__link {
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #1F1534;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__box__list__item__linkone {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  color: #1F1534;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 50%;
}
.header__boxTwo {
  display: flex;
  flex-direction: column;
  width: 445px;
  margin-top: 186px;
  margin-left: 246px;
}
.header__boxTwo__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0%;
  margin-bottom: 25px;
}
.header__boxTwo__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 21px;
  color: #7D7987;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: 45px;
}
.header__boxTwo__btn {
  width: 200px;
  height: 56px;
  border-radius: 55px;
  background: #458FF6;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__boxTwo__link {
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 60px;
  letter-spacing: 0%;
}
.header__boxTwo__image {
  position: absolute;
  left: 800px;
  top: 84px;
}

.nav__box {
  margin-bottom: 163px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  position: relative;
  margin-right: 87px;
}
.nav__box .nav__box__image {
  position: absolute;
  top: 230px;
  right: 644px;
  z-index: -1;
}
.nav__box .nav__box__imageone {
  position: absolute;
  left: 1382px;
  top: 500px;
  z-index: -1;
}
.nav__box__boxone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 78px;
  width: 952px;
  text-align: center;
  margin-left: 300px;
}
.nav__box__boxone__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0%;
  margin-bottom: 61px;
  border-bottom: 3px solid black;
}
.nav__box__boxone__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.nav__box__boxtwo {
  margin-bottom: 71px;
  margin-left: 260px;
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
}
.nav__box__boxtwo__boxthree {
  width: 350px;
  height: 354px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px 0px rgba(90, 90, 92, 0.4);
}
.nav__box__boxtwo__boxthree__image {
  margin-top: 54px;
  margin-left: 34px;
}
.nav__box__boxtwo__boxfour {
  width: 350px;
  height: 354px;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px 0px rgba(90, 90, 92, 0.4);
}
.nav__box__boxtwo__boxfour__one {
  margin-top: 58px;
  width: 250px;
  margin-left: 36px;
}
.nav__box__boxtwo__boxfour__one__image {
  margin-bottom: 20px;
}
.nav__box__boxtwo__boxfour__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0%;
}
.nav__box__boxtwo__boxfour__one__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
  line-height: 28px;
  letter-spacing: 0%;
}
.nav__box__btn {
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  line-height: 60px;
  letter-spacing: 0%;
  margin-left: 300px;
  cursor: pointer;
}

.main__page__box {
  display: flex;
  align-items: center;
  gap: 135.5px;
  margin-left: 135px;
  margin-bottom: 229px;
}
.main__page__box__one {
  width: 487.5px;
}
.main__page__box__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0%;
  margin-bottom: 26px;
}
.main__page__box__one__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 37px;
  margin-top: 31px;
}
.main__page__box__one__btn {
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  line-height: 60px;
  letter-spacing: 0%;
  cursor: pointer;
}
.main__page__image {
  position: absolute;
  left: 1714px;
  top: 2700px;
}

.submenyu .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.submenyu .container .section__imageone {
  position: absolute;
  left: 1420px;
  top: 3576px;
}
.submenyu .container .section__imagetwo {
  position: absolute;
  left: 330px;
  top: 3925px;
  z-index: -1;
}
.submenyu .container .section__box {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  text-align: center;
  width: 1120px;
  border-radius: 24px;
  margin-bottom: 39px;
}
.submenyu .container .section__box__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 48px;
  letter-spacing: 0%;
  margin-top: 61px;
  margin-bottom: 25px;
}
.submenyu .container .section__box__two {
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  margin-top: 93px;
}
.submenyu .container .section__box__two__image {
  margin-left: 120px;
}
.submenyu .container .section__box__two__text {
  width: 410px;
  text-align: left;
  margin-left: 110px;
  font-family: Mulish;
  font-weight: 400;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8980392157);
  line-height: 30px;
  letter-spacing: 0%;
}
.submenyu .container .section__box__two__one {
  text-align: left;
  margin-left: 33px;
}
.submenyu .container .section__box__two__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 48px;
  letter-spacing: 0%;
}
.submenyu .container .section__box__two__one__text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8509803922);
  line-height: 48px;
  letter-spacing: 0%;
}

.article__box {
  text-align: center;
  margin-top: 222px;
}
.article__box__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 56px;
  letter-spacing: 0%;
}
.article__box__two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin-top: 79px;
  margin-bottom: 69px;
}
.article__box__two__one {
  width: 350px;
  height: 512px;
  background-color: #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 40px 50px 0px rgba(95, 96, 99, 0.4);
}
.article__box__two__one__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
  line-height: 32px;
  letter-spacing: 0%;
  margin-top: 24px;
  margin-bottom: 12px;
  width: 251px;
  text-align: left;
  margin-left: 33px;
}
.article__box__two__one__text {
  font-family: Mulish;
  font-weight: 300;
  font-size: 16px;
  color: #7D7987;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 36px;
  text-align: left;
  margin-left: 33px;
  width: 266px;
}
.article__box__two__one__link {
  font-family: Mulish;
  font-weight: 600;
  font-size: 17px;
  color: #4089ED;
  line-height: 28px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
  margin-left: 33px;
  margin-bottom: 35px;
}
.article__box__btn {
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  color: #458FF6;
  line-height: 60px;
  letter-spacing: 0%;
  cursor: pointer;
  margin-bottom: 129px;
}

.subpages__image {
  position: absolute;
  left: 1053px;
  z-index: -1;
}

.subpages__imageone {
  position: absolute;
  left: 350px;
  top: 4450px;
  z-index: -1;
}

.foter .container {
  position: relative;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  margin-bottom: 500px;
}
.foter .container .footer__box {
  display: flex;
  align-items: center;
}
.foter .container .footer__box__one {
  width: 391px;
  margin-left: 190px;
}
.foter .container .footer__box__one__text {
  font-family: Muli;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 31px;
}
.foter .container .footer__box__one__image {
  margin-bottom: 17px;
  margin-top: 118px;
}
.foter .container .footer__box__two {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin-left: 145px;
}
.foter .container .footer__box__two__one__list__item__title {
  font-family: Mulish;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 60px;
  letter-spacing: 0%;
}
.foter .container .footer__box__two__one__list__item__one {
  font-family: Mulish;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 38px;
  letter-spacing: 0%;
}

@media (max-width: 600px) {
  .header__box__list {
    position: absolute;
    top: 70px;
    left: 250px;
    right: 0;
    flex-direction: column;
    background: #5f615f;
    align-items: start;
    display: none;
    width: 100%;
  }
  .nav__box {
    margin-right: 100px;
  }
  .header__box__list.active {
    display: block;
  }
  .header__box__logo {
    display: block;
    margin-left: 250px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background: #4089ED;
    border-radius: 5px;
  }
  .header__box__list__item__link {
    color: #fff;
  }
  .header__box__list__item__linkone {
    color: #fff;
    font-weight: 700;
  }
  .header__image {
    position: absolute;
    left: 600px;
  }
  .header__box__three {
    position: absolute;
    flex-direction: column;
    top: 200px;
    right: 1200px;
    z-index: -1;
    margin-top: 300px;
  }
  .nav__box__boxone {
    margin-top: 300px;
  }
  .nav__box__boxone__text {
    width: 500px;
  }
  .header__boxTwo__image {
    width: 500px;
    height: 450px;
  }
  .nav__box__boxtwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__page {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
  }
  .main__page__box {
    display: flex;
    flex-direction: column;
  }
  .section__box {
    width: 500px;
    margin-left: 100px;
  }
  .section__box__one {
    margin-left: 100px;
  }
  .section__image {
    margin-left: 100px;
  }
  .section__box__two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .article__box__two {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
  }
  .article__box__one__title {
    margin-left: 130px;
  }
  .footer__box {
    display: flex;
    flex-direction: column;
  }
  .footer__box__two {
    display: flex;
    flex-direction: column;
  }
  .nav__box__imagess {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1000px;
  }
  .subpages__image {
    position: absolute;
    left: -800px;
  }
  .nav__box {
    margin-left: 50px;
  }
  .main__page__image {
    position: absolute;
    left: -800px;
  }
}/*# sourceMappingURL=main.css.map */