@import "general.scss";
.header{
    .container{
        position: relative;
    }
    &__image{
        position: absolute;
        left: 6px;
        top: 100px;
        }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 135px;
        &__logo-image{
            padding-left: 247px;
        }    
    }
        &__box__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            margin-right: 136px;
            &__item__link{
                font-family: Mulish;
                font-weight: 700;
                font-size: 18px;
                color: #1F1534;
                line-height: 100%;
                letter-spacing: 0%;    
            }
            &__item__linkone{
                font-family: Mulish;
                font-weight: 400;
                font-size: 18px;
                color: #1F1534;
                line-height: 100%;
                letter-spacing: 0%;
                opacity: 50%;
            }      
        }
        &__boxTwo{
            display: flex;
            flex-direction: column;
            width: 445px;
            margin-top: 186px;
            margin-left: 246px;
            &__title{
                font-family: Mulish;
                font-weight: 700;
                font-size: 48px;
                color: #000000;
                line-height: 56px;
                letter-spacing: 0%;
                margin-bottom: 25px;
            }
            &__text{
                font-family: Mulish;
                font-weight: 300;
                font-size: 21px;
                color: #7D7987;
                line-height: 32px;
                letter-spacing: 0%;
                margin-bottom: 45px;
            }
            &__btn{
                width: 200px;
                height: 56px;
                border-radius: 55px;
                background: #458FF6;
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &__link{
                font-family: Mulish;
                font-weight: 700;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 60px;
                letter-spacing: 0%;
            }

        }
        &__boxTwo__image{
            position: absolute;
            left: 800px;
            top: 84px;
        }
}
.nav__box{
    margin-bottom: 163px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: relative;
    margin-right: 87px;
    .nav__box__image{
        position: absolute;
        top: 230px;
        right: 644px;
        z-index: -1;
    }
    .nav__box__imageone{
        position: absolute;
        left: 1382px;
        top: 500px;
        z-index: -1;
    }
    &__boxone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 78px;
        width: 952px;
        text-align: center;
        margin-left: 300px;
        &__title{
            font-family: Mulish;
            font-weight: 700;
            font-size: 36px;
            color: #000000;
            line-height: 56px;
            letter-spacing: 0%;
            margin-bottom: 61px;
            border-bottom: 3px solid black;
        }
        &__text{
            font-family: Mulish;
            font-weight: 300;
            font-size: 18px;
            color: #7D7987;
            line-height: 30px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
    &__boxtwo{
        margin-bottom: 71px;
        margin-left: 260px;
        width: 1140px;
        display: flex;
        flex-wrap: wrap;
        gap: 34px;
        justify-content: center;
        &__boxthree{
            width: 350px;
            height: 354px;
            border-radius: 20px;
            background: #FFFFFF;
            box-shadow: 10px 40px 50px 0px #5a5a5c66;
            &__image{
                margin-top: 54px;
                margin-left: 34px;
            }
        }
        &__boxfour{
            width: 350px;
            height: 354px;
            border-radius: 20px;
            background: #FFFFFF;
            box-shadow: 10px 40px 50px 0px #5a5a5c66;
            &__one{
                margin-top: 58px;
                width: 250px;
                margin-left: 36px;
                &__image{
                    margin-bottom: 20px;
                }
                &__title{
                    font-family: Mulish;
                    font-weight: 700;
                    font-size: 24px;
                    color: #000000;
                    line-height: 56px;
                    letter-spacing: 0%;
                }
                &__text{
                    font-family: Mulish;
                    font-weight: 300;
                    font-size: 16px;
                    color: #7D7987;
                    line-height: 28px;
                    letter-spacing: 0%;
                }
            } 
        }
    }
    &__btn{
        width: 200px;
        height: 60px;
        background-color: white;
        border-radius: 55px;
        border: 1.4px solid #458FF6;
        font-family: Mulish;
        font-weight: 700;
        font-size: 18px;
        color: #458FF6;
        line-height: 60px;
        letter-spacing: 0%;
        margin-left: 300px;
        cursor: pointer;
    }


}
.main__page{
    &__box{
        display: flex;
        align-items: center;
        gap: 135.5px;
        margin-left: 135px;
        margin-bottom: 229px;
        &__one{
            width: 487.5px;
            &__title{
                font-family: Mulish;
                font-weight: 700;
                font-size: 36px;
                color: #000000;
                line-height: 56px;
                letter-spacing: 0%; 
                margin-bottom: 26px;          
            }    
            &__text{
                font-family: Mulish;
                font-weight: 300;
                font-size: 18px;
                color: #7D7987;
                line-height: 30px;
                letter-spacing: 0%;
                margin-bottom: 37px;
                margin-top: 31px;
            }
            &__btn{
                width: 200px;
                height: 60px;
                background-color: white;
                border-radius: 55px;
                border: 1.4px solid #458FF6;
                font-family: Mulish;
                font-weight: 700;
                font-size: 18px;
                color: #458FF6;
                line-height: 60px;
                letter-spacing: 0%;
                cursor: pointer;  
            }
        }
    }
    &__image{
        position: absolute;
        left: 1714px;
        top: 2700px;
    }

}
.submenyu .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .section{
        &__imageone{
            position: absolute;
            left: 1420px;
            top: 3576px;
        }
        &__imagetwo{
            position: absolute;
            left: 330px;
            top: 3925px;
            z-index: -1;
        }
    }
    .section__box{
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        text-align: center;
        width: 1120px;
        border-radius: 24px;
        margin-bottom: 39px;
        &__one__title{
            font-family: Mulish;
            font-weight: 700;
            font-size: 36px;
            color: #FFFFFF;
            line-height: 48px;
            letter-spacing: 0%;
            margin-top: 61px;
            margin-bottom: 25px;
        }
        &__two{
            margin-bottom: 120px;
            display: flex;
            align-items: center;
            margin-top: 93px;
            &__image{
            margin-left: 120px;
            }
            &__text{
                width: 410px;
                text-align: left;
                margin-left: 110px;
                font-family: Mulish;
                font-weight: 400;
                font-size: 19px;
                color: #FFFFFFE5;
                line-height: 30px;
                letter-spacing: 0%; 
            }
            &__one{
                text-align: left;
                margin-left: 33px;
                &__title{
                    font-family: Mulish;
                    font-weight: 700;
                    font-size: 22px;
                    color: #FFFFFF;
                    line-height: 48px;
                    letter-spacing: 0%;
                }
                &__text{
                    font-family: Mulish;
                    font-weight: 400;
                    font-size: 18px;
                    color: #FFFFFFD9;
                    line-height: 48px;
                    letter-spacing: 0%;
                }
            }    
        }
    }
}    
.article__box{
    text-align: center;
    margin-top: 222px;
    &__one{
        &__title{
            font-family: Mulish;
            font-weight: 700;
            font-size: 36px;
            color: #000000;
            line-height: 56px;
            letter-spacing: 0%;
        }
    }
    &__two{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 34px;
        margin-top: 79px;
        margin-bottom: 69px;
        &__one{
            width: 350px;
            height: 512px;
            background-color: #FFFFFF;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 10px 40px 50px 0px #5f606366;
            &__title{
                font-family: Mulish;
                font-weight: 700;
                font-size: 21px;
                color: #000000;
                line-height: 32px;
                letter-spacing: 0%;
                margin-top: 24px;
                margin-bottom: 12px;
                width: 251px;
                text-align: left;
                margin-left: 33px;
            }
            &__text{
                font-family: Mulish;
                font-weight: 300;
                font-size: 16px;
                color: #7D7987;
                line-height: 28px;
                letter-spacing: 0%;
                margin-bottom: 36px;
                text-align: left;
                margin-left: 33px;
                width: 266px;
            }
            &__link{
                font-family: Mulish;
                font-weight: 600;
                font-size: 17px;
                color: #4089ED;
                line-height: 28px;
                letter-spacing: 0%;
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 6px;
                margin-left: 33px;
                margin-bottom: 35px;
            }

        }
    }
    &__btn{
        width: 200px;
        height: 60px;
        background-color: white;
        border-radius: 55px;
        border: 1.4px solid #458FF6;
        font-family: Mulish;
        font-weight: 700;
        font-size: 18px;
        color: #458FF6;
        line-height: 60px;
        letter-spacing: 0%;
        cursor: pointer; 
        margin-bottom: 129px; 
    }   
}
.subpages__image{
    position: absolute;
    left: 1053px;
    z-index: -1;
} 
.subpages__imageone{
    position: absolute;
    left: 350px;
    top: 4450px;
    z-index: -1;
}
.foter .container{
    position: relative;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-bottom: 500px;
    .footer__box{
        display: flex;
        align-items: center;
        &__one{
            width: 391px;
            margin-left: 190px;
            &__text{
                font-family: Muli;
                font-weight: 300;
                font-size: 18px;
                color: #FFFFFF;
                line-height: 28px;
                letter-spacing: 0%;
                margin-bottom: 31px;
            }
            &__image{
                margin-bottom: 17px;
                margin-top: 118px;
            }
        }
        &__two{
            display: flex;
            justify-content: space-between;
            gap: 150px;
            margin-left: 145px;
            &__one{
                &__list{
                    &__item{
                        &__title{
                            font-family: Mulish;
                            font-weight: 700;
                            font-size: 20px;
                            color: #FFFFFF;
                            line-height: 60px;
                            letter-spacing: 0%;
                        }
                    }
                    &__item__one{
                        font-family: Mulish;
                        font-weight: 300;
                        font-size: 18px;
                        color: #FFFFFF;
                        line-height: 38px;
                        letter-spacing: 0%;

                    }
                    
                }
               
            }
            
        }   
    }
        
}


